@page
@model WebApp.Pages.Solicitud.EditModel
@{
}
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="row">
        <div class="offset-2 col-8">
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">@(Model.Id.HasValue?"Actualizar":"Nuevo Registro")</h6>
                </div>
                <div class="card-body">
                    <form id="FormEdit" method="post">
                        <input type="hidden" asp-for="Entity" v-model="Entity.IdSolicitud" />
                        <!-- campos de texto -->
                        <div class="form-group mb-2">
                            <label for="Entity.IdCliente" class="form-label">Cliente</label>
                            <select asp-for="Entity.IdCliente" class="form-control" v-model="Entity.IdCliente"
                                    asp-items="@(new SelectList(Model.ClienteLista,"IdCliente","Nombre"))" required>
                            </select>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.IdServicio" class="form-label">Servicio</label>
                            <select asp-for="Entity.IdServicio" class="form-control" v-model="Entity.IdServicio"
                                    asp-items="@(new SelectList(Model.ServicioLista,"IdServicio","NombreServicio"))" required>
                            </select>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.Cantidad" class="form-label">Cantidad</label>
                            <input type="text" class="form-control" asp-for="Entity.Cantidad" v-model="Entity.Cantidad" required>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.Monto" class="form-label">Monto</label>
                            <input type="text" class="form-control" asp-for="Entity.Monto" v-model="Entity.Monto" required>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.FechaEntrega" class="form-label">Fecha entrega</label>
                            <input type="date" class="form-control" asp-for="Entity.FechaEntrega" v-model="Entity.FechaEntrega">
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.UsuarioEntrega" class="form-label">Usuario entrega</label>
                            <input type="text" class="form-control" asp-for="Entity.UsuarioEntrega" v-model="Entity.UsuarioEntrega">
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------->
                        <div class="form-group mb-2">
                            <label for="Entity.Observaciones" class="form-label">Observaciones</label>
                            <textarea class="form-control" asp-for="Entity.Observaciones" v-model="Entity.Observaciones" style="resize:none" rows="2"></textarea>
                        </div>
                        <!-- boton -->
                        <div class="button-group mb-3">
                            <button type="button" @@click="Save" class="btn btn-block btn-primary">
                                @(Model.Id.HasValue?"Actualizar":"Agregar")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/App/Solicitud/Edit.js"></script>

}